@media (min-width: 1920px) {
  .buy_product__img-wrapper {
    left: 30%;
  }

  /* Comparison */
  .comparison__example-img {
    height: 545px;
  }

  /* .comparison__example-img.main {
    height: 600px;
    width: 25%;
  } */
}
/* Mac */
@media (min-width: 1024px) and (max-width: 1420px) {
  .container {
    padding-left: calc(1.5rem * 0.5) !important;
    padding-right: calc(1.5rem * 0.5) !important;
  }

  #main {
    height: calc(100vw / 1.8999999);
  }
  .header-title {
    font-size: 3.2rem;
  }

  .header__logo {
    margin: 2% 0 2% 5%;
  }

  .header__text-wrapper {
    font-size: 1.8rem;
  }

  .header__btn {
    font-size: 3rem !important;
    width: 24rem;
    margin-right: 4rem;
    height: 6rem;
  }

  /* Comparison */
  .comparison__title {
    margin-bottom: 5%;
  }

  /* .comparison__example-img {
    height: 375px;
  } */

  /* .comparison__example-img.main {
    height: 325px;
  } */

  /* Criteria */

  .criteria__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    justify-content: center;
  }
  .criteria__item {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .criteria__item-text-wrapper {
    left: 50%;
    font-size: 1.8rem;
  }
  .criteria__item-explanation {
    font-size: 1.8rem;
    text-align: start;
    margin-left: 2rem;
  }
  .criteria__item-img {
    width: 180px;
  }

  /* Tutorial */
  .tutorial__item-image-wrapper {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .tutorial__item-image {
    width: 85px;
  }
  .tutorial__item-image-order {
    width: 25px;
    height: 25px;
    font-size: 1.6rem;
  }
  .tutorial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tutorial__item:last-child {
    margin-bottom: 2rem;
  }
  .tutorial__item-description {
    margin: 0;
  }
  .tutorial__item-description-title {
    font-size: 1.8rem;
  }
  .tutorial__video {
    width: 60rem;
    height: 35rem;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
  }

  /* Buy product */
  #buy_product {
    margin-bottom: 15%;
  }
  .buy_product__link {
    position: relative;
    left: 10%;
    width: 40rem;
    height: 6rem;
    font-size: 3rem;
    padding: 0.6rem 1.2rem;
  }

  .product__img.left {
    width: 22%;
  }

  .product__img.right {
    width: 16%;
    left: -5%;
  }
}

@media (min-width: 1024px) {
  .hide-on-pc {
    display: none;
  }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
  .header-title {
    font-size: 2.4rem;
  }

  .hide-on-tablet {
    display: none !important;
  }

  #main {
    position: relative;
    height: calc(100vw / 1.788888);
  }

  .header__text-wrapper {
    text-align: end;
    margin-right: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .header__text {
    font-size: 1.8rem;
  }

  .header__btn {
    font-size: 1.6rem;
    width: 11.8rem !important;
    height: 3.2rem;
    padding: 0.5rem 1.5rem;
    right: 0;
    margin-right: 2.6rem;
    bottom: 5%;
    position: absolute;
  }

  .header__logo {
    margin-top: 1.5rem;
    margin-right: 2.5rem;
    width: 14rem;
    height: 6rem;
  }

  .container {
    max-width: 720px !important;
  }
  /* About */
  .about-wrapper {
    flex-direction: column-reverse;
  }

  .about__image {
    bottom: 0;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  /* Tutorial */
  .tutorial__list {
    column-gap: 2rem;
  }
  .tutorial__item-image-wrapper {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .tutorial__item-image {
    width: 85px;
  }
  .tutorial__item-image-order {
    width: 25px;
    height: 25px;
    font-size: 1.6rem;
  }
  .tutorial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tutorial__item:last-child {
    margin-bottom: 2rem;
  }
  .tutorial__item-description {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .tutorial__item-description-title {
    font-size: 1.8rem;
  }
  .tutorial__video {
    width: 100%;
    height: 35rem;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
    margin-right: 0 !important;
  }

  /* Explanation */
  .explanation__content {
    flex-direction: column-reverse;
  }
  .explanation__content-img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .explanation__content-text {
    text-align: center;
  }

  /* Comparison */
  .comparison__example-img {
    width: 65%;
    height: 400px;
    margin: 0 auto;
  }

  /* Criteria */

  .criteria__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    justify-content: center;
  }
  .criteria__item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .criteria__item-text-wrapper {
    left: 50%;
    font-size: 1.6rem;
  }
  .criteria__item-explanation {
    font-size: 1.6rem;
  }
  .criteria__item-img {
    width: 180px;
  }
  /* Product video */
  .product-video-wrapper {
    margin: 0;
    height: 420px;
  }
  .product-video-youtube {
    border-radius: unset;
  }

  /* Buy product */
  .buy_product__wrapper {
    justify-content: center;
  }
  .product__img.left,
  .product__img.right {
    top: 1rem;
  }

  .buy_product__link {
    width: 28rem;
    height: 5.5rem;
    font-size: 3rem;
    padding: 0.6rem 1.2rem;
    position: relative;
    right: 20%;
  }

  /* Warning */
  #warning > .container {
    max-width: 100% !important;
  }
  .warning__img {
    position: relative;
    margin: 0 auto;
  }
  .warning__img.left {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.8rem;
    width: 30rem;
  }
  .warning__title {
    max-width: 100%;
  }
  .warning-content {
    font-size: 1.8rem;
  }

  /* FAQ */
  .faq__item-title {
    font-size: 1.8rem;
  }

  /* Footer */
  #footer {
    padding: 3rem 0;
  }

  .footer-information {
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  .footer__address-wrapper {
    width: 100%;
    justify-content: center;
  }
  .footer__address {
    font-size: 1rem;
    margin: 0 1.4rem;
  }

  .footer_nav-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  .footer__link {
    font-size: 1rem;
  }
}

/* Mobile */

@media (max-width: 739px) {
  .header-title {
    font-size: 2.4rem;
  }

  .hide-on-tablet {
    display: none;
  }

  .hide-on-mobile {
    display: none;
  }

  #main {
    position: relative;
    height: calc(100vw / 1.677777);
  }

  .header__text-wrapper {
    text-align: end;
    margin-top: 0rem;
    margin-right: 3rem;
  }

  .header__text {
    font-size: 1.4rem;
  }

  .header__btn {
    font-size: 1.4rem;
    width: 12rem !important;
    height: 3.2rem;
    padding: 0.4rem 1.2rem;
    right: 0;
    margin-right: 2.6rem;
    bottom: 5%;
    position: absolute;
  }

  .header__logo {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    width: 9rem;
    height: 5rem;
  }

  /* About */
  .about-wrapper {
    flex-direction: column-reverse;
  }

  .about__details {
    margin: 0 1.4rem;
  }

  .about__image {
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
  }

  /* Tutorial */
  .tutorial__content {
    flex-direction: column-reverse;
  }

  .tutorial__list {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column !important;
    padding: 0;
    width: 80%;
  }
  .tutorial__item-image-wrapper {
    margin-left: 1.2rem;
    margin-bottom: 2rem;
  }

  .tutorial__item-image {
    width: 85px;
  }
  .tutorial__item-image-order {
    width: 25px;
    height: 25px;
    font-size: 1.6rem;
  }
  .tutorial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .tutorial__item:last-child {
    margin-bottom: 2rem;
  }
  .tutorial__item-description {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .tutorial__item-description-title {
    font-size: 1.8rem;
  }
  .tutorial__item-description-content {
    max-width: 85%;
  }
  .tutorial__video {
    width: 100%;
    height: 30rem;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
    margin-right: 0 !important;
  }

  /* Explanation */
  .explanation__content {
    flex-direction: column-reverse;
  }
  .explanation__content-img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .explanation__content-text {
    text-align: center;
    margin-right: 0;
  }

  /* Comparison */
  .comparison__example-img {
    width: 65%;
    height: 245px;
    margin: 0 auto;
  }

  /* Criteria */
  .criteria__title,
  .criteria__conclusion {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .criteria__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    justify-content: center;
  }
  .criteria__item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .criteria__item-explanation {
    font-size: 1.4rem;
  }
  .criteria__item-text-wrapper {
    font-size: 1.4rem;
    left: 50%;
  }
  .criteria__item-img {
    width: 120px;
  }
  .criteria__item-text-number {
    font-size: 1.8rem;
  }
  /* Product video */
  #product-video {
    padding-left: 0;
    padding-right: 0;
  }
  .product-video-wrapper {
    margin: 0;
    height: 420px;
  }
  .product-video-youtube {
    border-radius: unset;
  }

  /* Buy product */
  .buy_product__wrapper {
    justify-content: center;
  }
  .buy_product__link {
    width: 16rem;
    height: 2.8rem;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    position: relative;
    right: 25%;
  }

  .buy_product__img-wrapper {
    left: 2%;
    transform: translate(50%, -8%);
  }

  .product__img.left {
    width: 30%;
  }

  .product__img.right {
    width: 21%;
    top: 0.4rem;
    left: -8%;
  }

  /* Warning */
  #warning > .container {
    max-width: 100% !important;
  }
  .warning__img {
    position: relative;
    margin: 0 auto;
  }
  .warning__img.left {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.8rem;
    width: 18rem;
  }
  .warning__title {
    max-width: 100%;
  }
  .warning-content {
    font-size: 1.8rem;
  }

  /* FAQ */
  .faq__item-title {
    font-size: 1.8rem;
  }

  /* Footer */
  #footer {
    padding: 3rem 0;
  }

  .footer-information {
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  .footer__address-wrapper {
    width: 80%;
    justify-content: center;
  }
  .footer__address {
    font-size: 1rem;
    width: 100%;
    margin: 0 1.2rem;
  }

  .footer_nav-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    font-size: 0.8rem;
    margin-right: 1.2rem;
  }
}
